<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Stop</string>
	<string>kChipSoundFile_BARK_X1_ANGRY_A34</string>
    <string>kChipSoundFile_BARK_X1_CURIOUS_PLAYFUL_HAPPY_A34</string>
    <string>kChipSoundFile_BARK_X1_NEUTRAL_A34</string>
    <string>kChipSoundFile_BARK_X1_SCARED_A34</string>
    <string>kChipSoundFile_BARK_X2_ANGRY_A34</string>
    <string>kChipSoundFile_BARK_X2_CURIOUS_PLAYFUL_HAPPY_A34</string>
    <string>kChipSoundFile_BARK_X2_NEUTRAL_A34</string>
    <string>kChipSoundFile_BARK_X2_SCARED_A34</string>
    <string>kChipSoundFile_CRY_A34</string>
    <string>kChipSoundFile_GROWL_A_A34</string>
    <string>kChipSoundFile_GROWL_B_A34</string>
    <string>kChipSoundFile_GROWL_C_A34</string>
    <string>kChipSoundFile_HUH_LONG_A34</string>
    <string>kChipSoundFile_HUH_SHORT_A34</string>
    <string>kChipSoundFile_LICK_1_A34</string>
    <string>kChipSoundFile_LICK_2_A34</string>
    <string>kChipSoundFile_PANT_FAST_A34</string>
    <string>kChipSoundFile_PANT_MEDIUM_A34</string>
    <string>kChipSoundFile_PANT_SLOW_A34</string>
    <string>kChipSoundFile_SNIFF_1_A34</string>
    <string>kChipSoundFile_SNIFF_2_A34</string>
    <string>kChipSoundFile_YAWN_A_A34</string>
    <string>kChipSoundFile_YAWN_B_A34</string>
    <string>kChipSoundFile_ONE_A34</string>
    <string>kChipSoundFile_TWO_A34</string>
    <string>kChipSoundFile_THREE_A34</string>
    <string>kChipSoundFile_FOUR_A34</string>
    <string>kChipSoundFile_FIVE_A34</string>
    <string>kChipSoundFile_SIX_A34</string>
    <string>kChipSoundFile_SEVEN_A34</string>
    <string>kChipSoundFile_EIGHT_A34</string>
    <string>kChipSoundFile_NIGHT_A34</string>
    <string>kChipSoundFile_TEN_A34</string>
    <string>kChipSoundFile_ZERO_A34</string>
    <string>kChipSoundFile_CHIP_DOG_COUGH_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_CRY_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_CRY_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_CRY_4_A34</string>
    <string>kChipSoundFile_CHIP_DOG_CRY_5_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_CURIOUS_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_CURIOUS_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_CURIOUS_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_EXCITED_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_EXCITED_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_EXCITED_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_LAZY_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_LAZY_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_LAZY_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_RESPONSE_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_RESPONSE_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_RESPONSE_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_SCARED_YIP_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_SCARED_YIP_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_FART_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_FART_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_FART_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_GROWL_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_GROWL_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_GROWL_4_A34</string>
    <string>kChipSoundFile_CHIP_DOG_GROWL_5_A34</string>
    <string>kChipSoundFile_CHIP_DOG_HICCUP_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_HICCUP_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_4_A34</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_5_A34</string>
    <string>kChipSoundFile_CHIP_DOG_LICK_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_LICK_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_LOWBATTERY_1_A34 </string>
    <string>kChipSoundFile_CHIP_DOG_LOWBATTERY_2_A34 </string>
    <string>kChipSoundFile_CHIP_DOG_MUFFLE_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_MUFFLE_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_MUFFLE_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_PANT_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_PANT_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_PANT_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_PANT_4_A34</string>
    <string>kChipSoundFile_CHIP_DOG_PANT_5_L_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SMOOCH_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SMOOCH_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SMOOCH_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNEEZE_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNEEZE_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNEEZE_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNIFF_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNIFF_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNIFF_4_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNORE_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SNORE_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_SPECIAL_1_A34</string>
    <string>kChipSoundFile_CHIP_SING_DO1_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_SING_DO2_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_SING_FA_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_SING_LA_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_SING_MI_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_SING_RE_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_SING_SO_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_SING_TI_SHORT_A34</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_3_A34</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_4_A34</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_5_A34</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_MULTI_3_A34 </string>
    <string>kChipSoundFile_CHIP_DOG_BARK_MULTI_4_A34 </string>
    <string>kChipSoundFile_CHIP_DOG_BARK_MULTI_5_A34 </string>
    <string>kChipSoundFile_CHIP_DOG_BURP_1_A34</string>
    <string>kChipSoundFile_CHIP_DOG_BURP_2_A34</string>
    <string>kChipSoundFile_CHIP_DOG_COUGH_1_A34</string>
    <string>kChipSoundFile_CHIO_DOG_EMO_RESPONSE_3A</string>
    <string>kChipSoundFile_CHIP_DEMO_MUSIC_2</string>
    <string>kChipSoundFile_CHIP_DEMO_MUSIC_3</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_1</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_2</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_MULTI_1</string>
    <string>kChipSoundFile_CHIP_DOG_BARK_MULTI_2</string>
    <string>kChipSoundFile_CHIP_DOG_CRY_1</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_CURIOUS_2A</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_EXCITED_3A</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_LAZY_1A</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_LAZY_2A</string>
    <string>kChipSoundFile_CHIP_DOG_EMO_LAZY_3A</string>
    <string>kChipSoundFile_CHIP_DOG_GROWL_3</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_1A</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_3A</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_4A</string>
    <string>kChipSoundFile_CHIP_DOG_HOWL_5A</string>
    <string>kChipSoundFile_CHIP_DOG_LICK_1</string>
    <string>kChipSoundFile_CHIP_DOG_LOWBATTERY_1A</string>
    <string>kChipSoundFile_CHIP_DOG_LOWBATTERY_2A</string>
    <string>kChipSoundFile_CHIP_DOG_MUFFLE_1A</string>
    <string>kChipSoundFile_CHIP_DOG_SMOOCH_3A</string>
    <string>kChipSoundFile_CHIP_DOG_SNEEZE_1A</string>
    <string>kChipSoundFile_CHIP_DOG_SNIFF_3</string>
    <string>kChipSoundFile_CHIP_DOG_SNIFF_4A</string>
    <string>kChipSoundFile_CHIP_MUSIC_DEMO_1</string>
    <string>kChipSoundFile_CHIO_DOG_EMO_RESPONSE_1A</string>
    <string>kChipSoundFile_CHIO_DOG_EMO_RESPONSE_2A</string>
    <string>kChipSoundFile_SHORT_MUTE_FOR_STOP</string>
</array>
</plist>
